# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.vs
bin
obj
packages
_ReSharper.*
*.suo
*.user
/src/5 - FrontEnd/assiscargo.Simon.FrontEnd/wwwroot/UploadedFiles/*
!/src/5 - FrontEnd/assiscargo.Simon.FrontEnd/wwwroot/UploadedFiles/.gitkeep

/src/4 - AplicationServices/Assistcargo.SimonWebApi/Reports/*
!/src/4 - AplicationServices/Assistcargo.SimonWebApi/Reports/.gitkeep
